openapi: 3.0.3
info:
  title: 日本の祝日API （JP Holiday API）
  description: |-
    日本の祝日を取得できるAPIです。

    データソース:  [国民の祝日について - 内閣府](https://www8.cao.go.jp/chosei/shukujitsu/gaiyou.html)
  termsOfService: https://jp-holiday.net/documents/term-of-service
  contact:
    url: https://github.com/choice-career/jp-holiday/issues
  license:
    name: MIT
    url: https://github.com/choice-career/jp-holiday/blob/main/LICENSE
  version: 1.0.0
servers:
  - url: https://jp-holiday.net/api/v1
tags:
  - name: list
    description: 祝日のリストを返す
  - name: holiday
    description: 祝日かどうかを返す
paths:
  /list:
    get:
      tags:
        - list
      summary: 去年・今年・来年（データがあれば） の範囲の祝日Mapを返す
      responses:
        "200":
          description: 祝日Map
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HolidayMap"
  /list/{year}:
    get:
      tags:
        - list
      summary: 特定の年の祝日を一覧で取得する
      parameters:
        - in: path
          name: year
          schema:
            type: integer
            format: int64
          required: true
          description: 年の指定（4桁）
          example: 2023
      responses:
        "200":
          description: 祝日Map
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HolidayMap"
  /holiday/{year}/{month}/{date}:
    get:
      tags:
        - holiday
      summary: 特定の日にちが祝日かどうかを返す
      parameters:
        - in: path
          name: year
          schema:
            type: integer
            format: int64
          required: true
          description: 年の指定（4桁）
          example: 2023
        - in: path
          name: month
          schema:
            type: integer
            format: int64
          required: true
          description: 月の指定（2桁）
          example: 01
        - in: path
          name: date
          schema:
            type: integer
            format: int64
          required: true
          description: 日の指定（2桁）
          example: 01
      responses:
        "200":
          description: 祝日かどうか
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IsHolidayResult"
              examples:
                isHoliday:
                  description: "祝日の場合"
                  value:
                    holiday: true
                    name: 元日
                isNotHoliday:
                  description: "祝日でない場合"
                  value:
                    holiday: false
                    name: ""
components:
  schemas:
    HolidayMap:
      type: object
      additionalProperties:
        type: string
      description: |
        Key が 日付（yyyy-mm-dd 形式）, 値が祝日名になるような object
      example:
        2023-01-01: 元日
        2023-01-09: 成人の日
    IsHolidayResult:
      type: object
      properties:
        holiday:
          type: boolean
          description: 祝日かどうか
          example: true
        name:
          type: string
          description: 祝日の名前。祝日でない場合は `""` （空文字列）
          example: "元日"

